<% if notice.present? %>
  <div class="row">
    <div class="col-md-3 offset-md-9">
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p class="text-center"><%= notice %></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>  
    </div>
  </div>
<%end%>
<% if alert.present?%>
  <div class="row">
      <div class="col-md-3 offset-md-9">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <p class="text-center"><%= alert %></p>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>  
      </div>
    </div>
<%end%>
<!-- 
<% unless flash.empty?%>
  <script type="text/javascript">
    <% flash.each do |key, value| %>
      <% type = key.to_s.gsub('alert', 'error').gsub('notice', 'success') %>
      toastr['<%= type %>']('<%= value %>')
    <% end %>
  </script>
<% end %> -->
<!-- <% unless flash.empty? %>
  <script type="text/javascript">
      <% flash.each do |f| %>
      <% type = f[0].to_s %>
      toastr['<%= type %>']('<%= f[1] %>');
      <% end %>
  </script>
<% end %> -->