<h1 class="text-center display-4 mt-4">Read the latest Squeals</h1>

<div class="container squeal-container">
    <% @squeals.each do |s| %>
      <div class="row pb-1"> 
        <div class="col-md-6 offset-md-3">
          <div class="squeal-box">
            <div class="row">
              <%= s.comment %>
            </div>
            <div class="float-left pt-2" id="user-<%=s.user_id%>">
              <!-- <button class="btn btn-outline-primary btn-sm">FOLLOW</button> -->
              <%= button_to "FOLLOW", follow_user_path(s.user_id), class:"btn btn-outline-primary btn-sm" %>
            </div>
            <div class="float-right"><%= s.user.fullname%></div>
            <br/>
            <div class="float-right"><%= s.created_at.strftime("%B %-d @%-I:%M %p")%></div>
          </div>
        </div>
      </div>
    <%end%>
  </div>